<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>

<body>
    <h2> Spaza app</h2>


    <h3>Register here</h3>
    <div class="success">
        {{message}}
    </div>
    <form action="/registerClient" method="post">
        <label for="">Username</label>
        <input type="text" name="username" placeholder="Enter name"> <br> <br>
        <button type="submit">Register Client</button>
    </form> <br>
    <hr>

    <h2>Client login</h2>


    <form action="/clientLogin" method="post">
        
        <input type="text" name="code" placeholder="Enter code">
        <button type="submit">Login</button>
    </form>
</body>

</html>